<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <!-- Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/styles/custom.css" type="text/css" />

<body>
  <%- include("partials/_header") %>

    <div class="container" style="border-top:0">
      <div class="container2" style="height:70px"></div>
      <div class="container1 text-center d-flex justify-content-center" style="height: 650px;">
        <main class="form-register d-flex justify-content-center">
          <form method="POST" action="/auth/login" class="d-flex-column" style="width: 47%">
            <img class="mb-4" id="logoAuth" src="/images/Mapple2just_logo.png" alt width="115" height="110">
            <h1 class="h3 mb-3 fw-normal">Please login</h1>
            <input type="email" id="emailReg" class="form-control" placeholder="Email address" required
              autofocus></input>
            <input type="password" id="passwordReg" class="form-control" placeholder="Password" required></input>
            <button type="submit" id="authSubmit" class="w-40 btn btn-lg btn-primary"
              style="margin-top: 1.5em">Register</button>
            <p class="mt-5 mb-3 text-muted">© Mapple 2021</p>
          </form>
        </main>
      </div>
    </div>


</body>

</html>




<!-- <h1>LOG INTO YOUR ACCOUNT</h1>
<form method="POST" action="/auth/login">
  <label for="email">Email:</label>
    <input name="email" placeholder="example@email.com"></input><br>
<label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password"></input><br>
<button type="submit" class="btn">SUBMIT</button>
</form> -->