<!DOCTYPE html>
<html lang="en">


<head>
  <title>Home Page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <!-- Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/styles/custom.css" type="text/css" />

   <!-- leaflet -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin="" />

</head>

<body>
  <%- include("partials/_header") %>
    <div class="container" style="border-top:0">
      <div class="container2" style="height:70px"></div>
      <div class="container1">
        <div class="row" style="margin-bottom:4em; margin-right:0px; margin-left: 0px;">
          <div class="col-lg-4 d-flex flex-column align-items-center">
            <img src="/images/Art.png" class="interestIMG" width="140" height="140"
              style="border-radius:50%; box-shadow: -1px 9px 30px -12px rgba(1, 42, 0, 0.75);">
            <h2 style="margin-top: 20px;">Art</h2>
            <p>Maps that show locations related to art</p>
            <p>
              <a class="btn btn-secondary" href="#" role="button"
                style="background: linear-gradient(to right, #0c4500 40%, #9cbea1 100%);">View</a>
            </p>
          </div>
          <div class=" col-lg-4 d-flex flex-column align-items-center">
            <img src="/images/culture.png" class="interestIMG" width="140" height="140"
              style="border-radius:50%; box-shadow: -1px 9px 30px -12px rgba(1, 42, 0, 0.75);">
            <h2 style="margin-top: 20px;">Culture</h2>
            <p>Places you can satisfy your cultural needs</p>
            <p>
              <a class="btn btn-secondary" href="#" role="button"
                style="background: linear-gradient(to right, #0c4500 40%, #9cbea1 100%);"">View</a>
            </p>
          </div>
          <div class=" col-lg-4 d-flex flex-column align-items-center">
                <img src="/images/food.png" class="interestIMG" width="140" height="140"
                  style="border-radius:50%; box-shadow: -1px 9px 30px -12px rgba(1, 42, 0, 0.75);">
                <h2 style="margin-top: 20px;">Food</h2>
                <p>Find the best food places</p>
                <p>
                  <a class="btn btn-secondary" href="#" role="button"
                    style="background: linear-gradient(to right, #0c4500 40%, #9cbea1 100%);"">View</a>
            </p>
          </div>
        </div>
        <hr class=" featurette-divider">
                    <div class="row featurette" style="margin-top:4em; margin-left:40px; margin-right:40px;">
                      <div class="col-md-7">
                        <h2 class="featurette-heading" style="color:rgb(81, 81, 81)">
                          "SUPER COOL MAP"
                          <span class="text-muted">"Check it out"</span>
                        </h2>
                        <p class="lead">"A sample map for your cartographogolical needs."</p>
                      </div>
                      <div class="col-md-5">
                        <div style="width: 50%">
                        <div class="data-map-id-3 map" id="mapid"></div>
                        </div>
                      </div>
                    </div>
                    <hr class="featurette-divider" style="margin-top:4em; margin-bottom:1em">
          </div>
          <footer class="container4">
            <p>© 2021 Mapple project</p>
          </footer>
        </div>


 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>


</body>

<script type="text/javascript" src="/scripts/mapInstance.js"></script>
<script type="text/javascript" src="/scripts/markerForm.js"></script>
<script type="text/javascript" src="/scripts/mapsShow.js"></script>


</html>
