<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <section id="favourites">
    <div class="fav-map">FAV MAP 1</div>
    <div class="fav-map">FAV MAP 2</div>
    <div class="fav-map">FAV MAP 3</div>
    <div class="fav-map">FAV MAP 4</div>
    <div class="fav-map">FAV MAP 5</div>
    <div class="fav-map">FAV MAP 6</div>

  </section>
  <section id="creations">
    <div class="user-map">USER MAP 1</div>
    <div class="user-map">USER MAP 2</div>

  </section>
  </form>
</body>

</html>
