<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile Page</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <!-- Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/styles/custom.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<body>
  <%- include("partials/_header") %>
    <div class="container" style="border-top:0">
      <div class="container2" style="height:70px"></div>
      <div class="containerFav text-center">Favourites</div>
      <hr class="featurette-divider" style="margin-bottom:3.5em; margin-top:3.5em">
      <div class="container1">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-left:3em; margin-right:3em">
          <div class="col">
            <div class="card box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);">
              <img class="bd-placeholder-img card-img-top" width="100%" height="130" src="/images/sports.png"
                role=" img" preserveAspectRatio="xMidYMid slice" focusable="false">
              </img>

              <div class="card-body">
                <This class="card-text"><b>Sports</b><br>This is a wider card with supporting text below as a
                  natural
                  lead-in to additional
                  content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <div class="emptyHeart d-flex justify-content-center">
                      <form action='/maps/:mapID/favourites/remove' method='POST'>
                        <button type="submit" id="emptyHeart"><i class="bi bi-heart"
                            style="font-size: 1em; color:rgb(0, 0, 0)"></i></button>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);">
              <img class="bd-placeholder-img card-img-top" width="100%" height="130" src="/images/music.png" role=" img"
                preserveAspectRatio="xMidYMid slice" focusable="false">
              </img>

              <div class="card-body">
                <This class="card-text"><b>Music</b><br>This is a wider card with supporting text below as a
                  natural
                  lead-in to additional
                  content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);">
              <img class="bd-placeholder-img card-img-top" width="100%" height="130" src="/images/mountains.png"
                role=" img" preserveAspectRatio="xMidYMid slice" focusable="false">
              </img>

              <div class="card-body">
                <This class="card-text"><b>Hiking</b><br>This is a wider card with supporting text below as a
                  natural
                  lead-in to additional
                  content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="containerProf text-center" style="margin-top:3.5em">My maps</div>
        <hr class="featurette-divider" style="margin-bottom:3.5em; margin-top:3.5em">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
          style="margin-bottom:4em; margin-left:3em; margin-right:3em">
          <div class="col">
            <div class="card box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);">
              <img class="bd-placeholder-img card-img-top" width="100%" height="130" src="/images/sports.png"
                role=" img" preserveAspectRatio="xMidYMid slice" focusable="false">
              </img>

              <div class="card-body">
                <This class="card-text"><b>Sports</b><br>This is a wider card with supporting text below as a
                  natural
                  lead-in to additional
                  content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);">
              <img class="bd-placeholder-img card-img-top" width="100%" height="130" src="/images/music.png" role=" img"
                preserveAspectRatio="xMidYMid slice" focusable="false">
              </img>

              <div class="card-body">
                <This class="card-text"><b>Music</b><br>This is a wider card with supporting text below as a
                  natural
                  lead-in to additional
                  content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);">
              <img class="bd-placeholder-img card-img-top" width="100%" height="130" src="/images/mountains.png"
                role=" img" preserveAspectRatio="xMidYMid slice" focusable="false">
              </img>

              <div class="card-body">
                <This class="card-text"><b>Hiking</b><br>This is a wider card with supporting text below as a
                  natural
                  lead-in to additional
                  content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="featurette-divider" style="margin-top:4em; margin-bottom:1em">
      <footer class="container4">
        <p>© 2021 Mapple project</p>
      </footer>
    </div>

</body>

</html>





<!-- <section id="favourites">
  <div class="fav-map">FAV MAP 1</div>
  <div class="fav-map">FAV MAP 2</div>
  <div class="fav-map">FAV MAP 3</div>
  <div class="fav-map">FAV MAP 4</div>
  <div class="fav-map">FAV MAP 5</div>
  <div class="fav-map">FAV MAP 6</div>

</section>
<section id="creations">
  <div class="user-map">USER MAP 1</div>
  <div class="user-map">USER MAP 2</div>
  <div class="user-map">USER MAP 3</div>
  <div class="user-map">USER MAP 4</div>

</section>
</form> -->