@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.8em;
  color:aliceblue, fill
}


.avatar {
  width: 85px;
  height: 75px;
  margin-right: 1.5em;
}

.navbar {
  background: linear-gradient(to bottom right, #bedbb6 40%, #d4dbd2 100%);
}

.container {
  background: linear-gradient(to bottom right,#eef7ec 30%,#e5f4e1  100%);
  // background-color:#edf6eb; 
  // border: 4px outset #C3E3C1;
  border: none;
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
}

.col:hover{
  transform:scale(1.06);
}
.card {
  box-shadow: 0.3px 0.3px 9px 1px rgba(1, 42, 0, 0.75);
}

.card:hover {
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
}

.card-body {
  background: linear-gradient(to bottom right, #ecf1eb 40%, #ffffff 100%);
}

#heartButton {
  background: none;
  border: none;
}

#emptyHeart {
  background: none;
  border: none;
}

#newSubmit {
  background: darkgreen;
  color: whitesmoke;
  border: none;
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
}

.map {
  width: 500px;
  height: 500px;
}

.form-register {
  width: 50%;
}

#logoAuth {
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
  border-radius: 50%;
}

#authSubmit {
  background: linear-gradient(to bottom right, #0c4500 40%, #9cbea1 100%);
}