@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.8em;
}

.navbar-light .navbar-brand {
  color:rgb(252, 252, 252);
  }


.avatar {
  width: 85px;
  height: 75px;
  margin-right: 1.5em;
}

.navbar {
  background: linear-gradient(to bottom right, #a3cd97 40%, #d4dbd2 100%);
}

.container {
  background: linear-gradient(to bottom right,#eef7ec 30%,#e5f4e1  100%);
  // background-color:#edf6eb; 
  // border: 4px outset #C3E3C1;
  border: none;
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
}

.col:hover{
  transform:scale(1.06);
}
.card {
  box-shadow: 0.3px 0.3px 9px 1px rgba(1, 42, 0, 0.75);
}

.card:hover {
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
}

.card-body {
  background: linear-gradient(to bottom right, #ecf1eb 40%, #ffffff 100%);
}

#heartButton {
  background: none;
  border: none;
}

#emptyHeart {
  background: none;
  border: none;
}

#newSubmit {
  background: linear-gradient(to bottom right, #0c4500 40%, #82b589 100%);
  color: whitesmoke;
  border: none;
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
}

.map {
  width: 500px;
  height: 500px;
}

.form-register {
  width: 50%;
}

#logoAuth {
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
  border-radius: 50%;
}

#authSubmit {
  background: linear-gradient(to bottom right, #0c4500 40%, #9cbea1 100%);
  border: none;
}


#searchNav {
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
  border: none;
}

#searchBtnNav {
  box-shadow: -1px 9px 40px -12px rgba(1, 42, 0, 0.75);
  background: linear-gradient(to right, #0c4500 40%, #9cbea1 100%);
  color: whitesmoke;
  border: none;
}

#description-text {
  width: 350px;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 3%;
}

#markerSubmit {
  background: linear-gradient(to bottom right, #0c4500 40%, #9cbea1 100%);
  border: none;
}

#markerDelete {
  background: linear-gradient(to bottom right, #6d9c63 40%, #8fc897 100%);
  border: none;
}

#navLogin {
  background: linear-gradient(to bottom right, #0c4500 40%, #82b589 100%);
  color: whitesmoke;
  border: none;
}

#navReg {
  background: linear-gradient(to bottom right, #6d9c63 40%, #8fc897 100%);
  color: whitesmoke;
  border: none;
}

#editMapSave {
  background: linear-gradient(to bottom right, #0c4500 40%, #82b589 100%);
  color: whitesmoke;
  border: none;
}

#editMapDelete {
  background: linear-gradient(to bottom right, #6d9c63 40%, #8fc897 100%);
  color: whitesmoke;
  border: none;
}

#logout {
  background: linear-gradient(to bottom right, #6d9c63 40%, #8fc897 100%);
  color: whitesmoke;
  border: none;
}

#createMap {
  background: linear-gradient(to bottom right, #0c4500 40%, #82b589 100%);
  color: whitesmoke;
  border: none;
}

@media only screen and (max-width: 991px) {
  #mainContainer {
    height: 1800px;
  }

}